
/* /////////////////  GERAL  /////////////// */

body {
    margin: 0;
}

div.Caixas_Subtitulo_Filmes:hover {
    background-color: #610B0B;
}

div.Caixas_Filmes:hover {
    width: 30%;
    background-color: #610B0B;
}

div.Caixas_Filmes_Introducao:hover {
    border-style: solid;
    border-width: 5px;
    border-color: #610B0B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  margin-left:15%;
}

li {
  float: left; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;

}

.active {
  background-color: #610B0B;
}

li.other {
  padding: 0.7% 7%;;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: #610B0B;
}


/* /////////////////  DIVISÕES  /////////////// */


.Introducao_Filmes {
    background-image: url(../IMG/Fundo_Filmes.jpg);
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid;
    border-width: 20px;
    border-color: #610B0B;
    float: left;
    margin-bottom: 5%;
}

.Caixas_Filmes {
    position: relative;
    margin: 2%;
    padding-top: 15%;
    width: 28%;
    display: inline-block;
    border-radius: 2PX;
    transition: 0.5s;
    background-image: url(../IMG/Fundo_Filmes.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Caixas_Filmes_Introducao {
    position: relative;
    margin-right: 32%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 41%;
    display: inline-block;
    border-radius: 5PX;
    transition: 0.5s;
    /*background-image: url(../IMG/Primeira_Filmes.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*padding-top: 12%;*/
    background-color: #610B0B;
}



.Caixas_Subtitulo_Filmes {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    transition: 0.5s;
    background-color: #0B2161;
    width: 100%;
    text-transform: uppercase;
}


.Texto_Filmes {
    font-family: 'Aleo';
    font-size: 20pt;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: none;
    border-top: solid;
    border-width: 10px;
    border-color: #2E2E2E;
    background-color: #610B0B;
    /*margin-left:15%;
		margin-right:45%;
		margin-top:8%;
		margin-bottom:8%;*/
    padding: 4%;
    
}


/* /////////////////  TEXTOS  /////////////// */


span.Titulo_Pag_Filmes {
    font-family: 'Aleo';
    font-size: 22px;
    font-weight: italic;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: none;
    letter-spacing: 3px;
}

span.Texto_Caixas_Filmes {
    font-family: Century Gothic;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
}


/* /////////////////  RODAPE  /////////////// */


#Rodape {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 30px 10%;
    background-color: #171717;
}

#Rod-Cont1 {
    width: 50%;
    float: left;
    text-align: left;
	margin-top:1.5%;
}

#Rod-Cont2 {
    width: 50%;
    float: left;
    color: #A9A9A9;
    text-align: right;
}

.TextoRod {
    width: 100%;
    float: left;
    color: #A9A9A9;
    font-size: 11pt;
    margin: 0;
    padding: 3px 0;
}

.SobreRod:hover {
    color: #C0C0C0;
}

.hr_Rod {
    width: 100%;
    border-color: white;
}
